<div id="sidebar-list">

  <div class="sidebar-item">

    <div class="sidebar-section">

      <div class="sidebar-section-title">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
<!--            <i class="pi pi-user mr-2"></i>-->
            <b>Home</b>
          </div>
        </p-divider>
      </div>



      <div class="sidebar-section-item">
        <a class="sidebar-section-item-link">
          <div class="sidebar-section-item-icon">
            icon
          </div>

          <div class="sidebar-section-item-title">
            Home
          </div>
        </a>
      </div>

    </div>

  </div>

</div>

