<h1>{{ title }} " From app "</h1>

<div style="max-height: 90vh; overflow: auto">
  <form class="edit-form" (ngSubmit)="addProduct()">
    <input
      class="edit-form"
      type="text"
      name="name"
      [(ngModel)]="product.name"
      autocomplete="off"
    />
    <input
      class="edit-form"
      type="text"
      name="price"
      [(ngModel)]="product.price"
      autocomplete="off"
    />
    <input
      class="edit-form"
      type="text"
      name="image"
      [(ngModel)]="product.image"
      autocomplete="off"
    />
    <input class="edit-form" type="submit" name="editTodo" value="add" />
  </form>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products$ | async">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>

        <td>{{ item.price }}</td>
        <td>
          <img style="width: 100px" src="{{ item.image }}" alt="" />
        </td>
        <td>
          <button (click)="edit(item.id)">Update</button>
          <button (click)="deleteProduct(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div style="border: 1px solid; padding: 19px">
  <h2 style="color: red">From hello</h2>
  <app-hello
    [text]="title"
    (buttonClicked)="clickFromHello($event)"
  ></app-hello>
</div>

<br />

<div style="border: 1px solid; padding: 19px">
  <h2 style="color: red">From Hi</h2>
  <app-hi></app-hi>
</div> -->
