<div class="footer w-100">
  <div
    class="
      row
      h-100
      d-flex
      align-items-center
      m-0
    "
  >
    <div class="col-sm-12 col-md-4 my-2">
        {{ length }} item{{ length > 1 ? "s" : "" }}
    </div>

    <div class="col-sm-12 col-md-4 d-flex justify-content-md-center justify-content-sm-start my-2">
      <button
        type="button"
        class="filter-btn"
        *ngFor="let btn of filterButtons"
        [ngClass]="{ active: btn.isActive }"
        (click)="filter(btn.type)"
      >
        {{ btn.label }}
      </button>
    </div>

    <div class="col-sm-12 col-md-4 d-flex justify-content-md-end justify-content-sm-start my-2">
      <button
        class="filter-btn clear-completed-btn"
        [ngClass]="{ visible: hasComplete$ | async }"
        (click)="clearCompleted()"
      >
        Clear Completed
      </button>
    </div>

  </div>
</div>
