<!-- <div *ngFor="let item of a | async">
  <h5>{{ item.title }}</h5>
</div> -->

<!-- <h1>Angular Router App</h1> -->
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>

    <li>
      <a
        routerLink="/first-component"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >First Component</a
      >
    </li>
    <li>
      <a
        routerLink="/second-component"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Second Component</a
      >
    </li>
    <li>
      <a
        routerLink="/second-component/second/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Second Component Child</a
      >
    </li>
  </ul>
</nav>
<input type="checkbox" name="" id="" />
<input type="text" name="" id="" [(ngModel)]="title" /> -->

<!-- <app-hello [count]="count"> </app-hello> -->

<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened">
    <p>Sidebar contents</p>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <button (click)="_toggleSidebar()">Toggle sidebar</button>
  </div>
</ng-sidebar-container>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
